/* System */

:root {
    --main-color: #f06543; /* Define your main color here */
    --alt-color: #333; /* Alternative color */
    --bg-1: #f0f0f0; /* Background color 1 */
    --bg-2: #e6e6e6; /* Background color 2 */
    --text-1: #666666; /* Text color 1 */
    --text-2: #333333; /* Text color 2 */
    --white-bg: #ffffff; /* White bg color */
}

/* General styles */

body {
    font-family: sans-serif;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
    color: var(--text-2);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */

header {
    background-color: rgba(255, 255, 255, 0.8); /* Add transparency */
    padding: 20px 0;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; 
    backdrop-filter: blur(5px); /* Add blur effect */
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: var(--text-2);
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 16px;
}

nav a {
    text-decoration: none;
    color: var(--text-1);
    transition: color 0.5s ease; /* Add transition */
}

nav a:hover {
    color: var(--main-color);
}

.active {
    font-weight: bold; /* Or a different style to indicate active state */
    color: var(--main-color); /* Example: Change text color to black */
}


/* Hero section styles */

.hero {
    text-align: center;
    padding: 60px 0;
    background-color: var(--bg-2);
    margin-top: 80px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: var(--text-2);
    position: absolute; /* Position the text absolutely within the hero */
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the text */
    z-index: 1; /* Ensure text is on top of the image */
    font-size: 48px;
}

.hero img {
    width: 100%;
    height: 400px; /* Set a fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
    border-radius: 20px;
}

/* Aesthetic section styles */

.aesthetic {
    padding: 80px 0;
}

.aesthetic .container {
    display: flex;
}
.aesthetic h3 {
    text-align: left;
    font-size: 36px;
    margin-bottom: 30px;
    color: var(--text-2);
}

.aesthetic p {
    line-height: 1.6;
    color: var(--text-1);
}

.aesthetic .container img {
    max-width: 60%;
    height: 400px;
    display: block;
    margin: 30px 0;
    border-radius: 20px;
}

.aesthetic .small {
    max-width: 40%;
    padding: 0px 0px 0px 40px;
}

.aesthetic .small img {
    max-width: 100%;
    height: auto;
    object-fit: cover; /* Maintain aspect ratio and cover the area */
}

/* Beautiful view section styles */

.beautiful-view {
    background-color: var(--bg-2);
    padding: 40px 0;
}

.beautiful-view h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
    color: var(--text-2);
}

.beautiful-view h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    color: var(--text-1);
    font-weight: normal;
}

.beautiful-view p {
    line-height: 1.6;
    color: var(--text-1);
}

.beautiful-view .images {
        display: grid; /* Use grid layout */
        grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
        gap: 20px; /* Add spacing between images */
        margin: 40px auto;
    }

.beautiful-view img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.button {
    display: block; /* Make it a block-level element */
    width: 160px; /* Adjust width as needed */
    margin: 20px auto; /* Center horizontally with auto margin */
    padding: 16px 20px; /* Add some padding */
    text-align: center;
    border-radius: 60px; /* Adjust border-radius for roundness */
    background-color: var(--main-color); /* Use your main color */
    color: white; /* Set text color to white */
    text-decoration: none; /* Remove underline if it's a link */
}

/* Footer styles */

footer {
    background-color: var(--text-2);
    color: var(--white-bg);
    text-align: center;
    padding: 20px 0;
}

/* About Page */
.about {
    margin: 80px auto;
}

.about h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
    color: var(--text-2);
}

.about p {
    line-height: 1.6;
    color: var(--text-1);
}



/* Contact Form */
.contact {
    background-color: var(--bg-2);
    padding: 60px 0;
}

.contact h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
    color: var(--text-2);
}

.contact-form {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: var(--bg-1);
  }
  
  .contact-form h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .contact-form textarea {
    height: 150px; /* Adjust height as needed */
  }
  
  .contact-form button[type="submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .reviews .review-slider {
    display: grid;
    padding: 20px 0;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: 20px;
  }
  
  @media (max-width: 768px) {
    .reviews .review-slider {
      grid-template-columns: repeat(2, 1fr); /* 2 columns in mobile view */
    }
  }

/* Media query for smaller screens */
@media (max-width: 768px) {
    header {
        height: 120px;
    }

    nav ul {
        display: none; /* Hide the navigation list */
    }

    .hamburger {
        display: block; /* Show the hamburger button */
        position: relative;
        width: 30px;
        height: 24px;
        cursor: pointer;
        position: absolute; /* Position absolutely within the header */
        top: 20px; /* Adjust top position as needed */
        right: 20px; /* Adjust left position as needed */
    }

    .hamburger span {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--text-2); /* Use your text color */
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    .hamburger span:nth-child(1) {
        top: 0;
    }

    .hamburger span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    .hamburger span:nth-child(3) {
        bottom: 0;
    }

    .hamburger.open span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }

    nav ul.show {
        display: block;
        position: absolute;
        top: 70px; /* Adjust top position to account for header height */
        left: 0;
        width: 100%;
        background-color: var(--bg-1);
    }

    nav ul.show li {
        display: block; /* Stack list items vertically */
        width: 100%; /* Make each item take full width */
        margin: auto;
    }

    nav ul.show li a {
        display: block; /* Make links fill the entire list item */
        padding: 15px 20px; /* Add padding for better spacing */
        text-align: center; /* Center the text */
    }

    .aesthetic .container {
        flex-direction: column; /* Stack elements vertically */
    }

    .aesthetic .container img {
        max-width: 100%; /* Image takes full width */
        height: auto;
        margin-right: 0; /* Remove right margin */
        margin-bottom: 20px; /* Add bottom margin */
    }

    .aesthetic .small {
        max-width: 100%;
        margin: auto;
        padding: 0px;
    }

    .aesthetic h2 {
        text-align: center;
    }

    .beautiful-view .images {
        grid-template-columns: repeat(2, 1fr); /* 2 columns in mobile view */
    }
}